/* common shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* banner -01 */
header {
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
}

.banner-1 {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
    color: #070211, #07021100;
    justify-content: center;
}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 180px;
}

.banner-title {
    text-align: center;
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 180px;
}

/* Discount Section */
.discount-heading {
    color: #F00;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}

.discount-info {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

.discount-categories {
    color: #070211;
    text-align: center;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.new-year-img {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 120px;
}

/* banner-2 styles */
.banner-2 {
    width: 1320px;
    height: 600px;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    background-image: url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    align-items: center;
    margin-left: 140px;
    margin-bottom: 120px;
}

.banner-2-heading {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-left: 126px;
}

.banner-2-info {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    padding-left: 126px;
    padding-right: 39px;
    padding-top: 24px;
}

.banner-2-join {
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    padding-left: 158px;
    padding-top: 48px;
}

.banner-2-img {
    padding-right: 138px;
}

/* banner - 3 */
.banner-3 {
    width: 1320px;
    height: 482px;
    background-color: rgba(255, 0, 0, 0.10);
    border-radius: 15px;
    border: 0;
    margin-left: 140px;
    margin-right: 140px;
}

.banner-3-content {
    text-align: center;
    padding-top: 100px;
}

.banner-3-title {
    color: #070211;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
}

span {
    color: #F00;
}

.banner-3-btn {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    border: 0;
    margin-top: 65px;
}

/* banner 4 styles */
.banner-4 {
    display: flex;
    margin-top: 120px;
    margin-left: 140px;
    margin-right: 140px;
    align-items: center;
    margin-bottom: 120px;
}

.banner-4-section-1 {
    width: 33%;
}

.best-offer {
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.coming-soon {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.b-4-s1-info {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
}

.b-4-s-2 {
    width: 34%;
    margin-left: 70px;
}

.border {
    border-radius: 50%;
    padding: 20px;
    border: 15px solid #F00;
    display: inline-block;
}


.b-4-s3 {
    width: 33%;
    margin-left: 118px;
}

.year {
    color: #F00;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.b-4-s-3-info {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 43px;
}

/* Discount Section */
.sales {
    text-align: center;
    margin-bottom: 64px;
}

.sales-title {
    color: #070211;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.sales-discount {
    color: #F00;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.sales50 {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
}

.sales-info {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    padding-left: 25%;
    padding-right: 25%;
}

/* Discount-2 */
.dis-pic {
    display: inline-flex;
    align-items: baseline;
    background-image: url('resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* Portfolio part */
.portfolio {
    margin-top: 120px;
    margin-left: 140px;
    margin-right: 140px;
}

.portfolio-title {
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio-heading {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.portfolio-info {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
}

.portfolio-pic-1 {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.portfolio-pic-2 {
    display: flex;
    gap: 16px;
    margin-bottom: 120px;
}

/* Newsletter styles */
.newsletter {
    text-align: center;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-left: 140px;
    margin-bottom: 120px;
}

.newsletter-pic {
    margin-top: 80px;
    margin-bottom: 40px;
}

.newsletter-title {
    color: #070211;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.newsletter-info {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    margin-left: 212px;
    margin-bottom: 48px;
}

.Subscribe-form {
    border-radius: 50px;
    background: #FFF;
    border: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 477px;
}

.sub-btn {
    border-radius: 50px;
    background: #F00;
    padding: 24px 56px;
    border: 0;
}

span {
    color: #FFF;
}

/* Footer section */
footer {
    width: 100%;
    background: #070211;
}

.address {
    display: flex;
}

.main-address {
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}
.place {
    padding: 120px 0px 50px 140px;
}
.contact {
    padding: 120px 0px 50px 599px;
}
.horizontal-1 {
    height: 0.5px;
    background: rgba(255, 255, 255, 0.15);
    width: 1320px;
    margin-left: 100px;
}
.social-media {
    padding: 120px 0px 100px 640px;
}
.social-img {
    margin-right: 24px;
}
.last-part {
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    display: flex;
}
.last-info{
    padding: 50px 0px 120px 140px;
}
.Unsubscribe {
    padding: 50px 0px 120px 800px;
}